.epson {
  .pdp-price {
    white-space: nowrap;
    transform: translateX(-19px);
    font-size: 22px;
  }
  .contact-banner {
    margin: 50px auto;
  }
  .ab-contact {
    margin-bottom: 24px;
  }
}
